<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us | Enviro Club</title>
    <link rel="stylesheet" href="../stylesheets/aboutus.css" />
    <script
            src="https://kit.fontawesome.com/866b8b01f2.js"
            crossorigin="anonymous"
    ></script>
    <link
            rel="icon"
            href="https://www.ormiston.school.nz/images/favicon.png?v=20141117"
    />
    <script defer src="../js/sidenav.js"></script>
</head>
<body>
<!-- HEADER -->
<header>
    <!-- NAV BAR-->
    <nav class="EVC__Header-Navbar">
        <a href="/">
            <img
                    src="https://www.ormiston.school.nz/images/logo-inverted.png"
                    alt="Ormiston Senior College Logo"
            />
        </a>

        <ul>
            <li><a href="/impact">Impact</a></li>
            <li><a href="/newsandnotices">News and Notices</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>

        <div class="cta">
            <i onclick="openNav()" class="fas fa-bars"></i>
        </div>
    </nav>

    <!-- Side nav -->
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a onclick="closeNav()" href="/impact">Impact</a>
        <a onclick="closeNav()" href="/newsandnotices">News and Notices</a>
        <a onclick="closeNav()" href="/about">About Us</a>
        <a onclick="closeNav()" href="/contact">Contact</a>
    </div>

    <!-- SPLASH PAGE -->
    <div class="EVC__Header-SpalashPage">
        <div>
            <h1>About Us</h1>
        </div>
    </div>
</header>

<!-- Main -->
<main>
    <!-- About Us -->
    <div class="EVC__Main-AboutUs">
        <h2>About Us:</h2>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores eum
            commodi minima consequuntur vel, eos perferendis quasi dolor fugiat
            obcaecati explicabo dolorum illum fugit esse unde. Illo incidunt
            fugiat deserunt repellat porro animi, totam neque dolorem, nobis eum
            ipsa at nisi delectus vitae quod eveniet praesentium quisquam hic.
            Excepturi, iste!
        </p>
    </div>

    <hr>

    <!-- Testimonials -->
    <div class="EVC__Main-Testimonials">
        <h2>Testimonials</h2>
        <div class="EVC__Main-Testimonial-Wrapper">
            <!-- Person 1 -->
            <div class="EVC__Main-Testimonial-Container">
                <div class="EVC__Main-Testimonial-Text">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi
                        neque nemo ratione sint corrupti aperiam ipsum error dolor enim
                        labore, libero odit asperiores. Eveniet, expedita alias
                        temporibus est nobis cupiditate voluptate ad accusamus?
                    </p>
                </div>
                <div class="EVC__Main-Testimonial-ImgAndName">
                    <img src="../Images/AboutImages/Person.png" alt="" />
                    <h3>Name 1</h3>
                </div>
            </div>

            <!-- Person 2-->
            <div class="EVC__Main-Testimonial-Container">
                <div class="EVC__Main-Testimonial-Text">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi
                        neque nemo ratione sint corrupti aperiam ipsum error dolor enim
                        labore, libero odit asperiores. Eveniet, expedita alias
                        temporibus est nobis cupiditate voluptate ad accusamus?
                    </p>
                </div>
                <div class="EVC__Main-Testimonial-ImgAndName">
                    <img src="../Images/AboutImages/Person.png" alt="" />
                    <h3>Name 1</h3>
                </div>
            </div>

            <!-- Person 3 -->
            <div class="EVC__Main-Testimonial-Container">
                <div class="EVC__Main-Testimonial-Text">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi
                        neque nemo ratione sint corrupti aperiam ipsum error dolor enim
                        labore, libero odit asperiores. Eveniet, expedita alias
                        temporibus est nobis cupiditate voluptate ad accusamus?
                    </p>
                </div>
                <div class="EVC__Main-Testimonial-ImgAndName">
                    <img src="../Images/AboutImages/Person.png" alt="" />
                    <h3>Name 1</h3>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Footer -->
<footer class="EVC__Footer">
    <div class="EVC__Footer-Col">
        <h3>Main</h3>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
    </div>
    <div class="EVC__Footer-Col">
        <h3>Business</h3>
        <ul>
            <li><a href="/impact">Impact</a></li>
            <li><a href="/newsandnotices">Upcoming Events</a></li>
        </ul>
    </div>
    <div class="EVC__Footer-Col EVC__Footer-Col-Social">
        <h3>Social</h3>
        <ul>
            <li>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa-solid fa-envelope"></i></a>
            </li>
        </ul>
    </div>
</footer>
</body>
</html>