<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Impact | Enviro Club</title>
    <link rel="stylesheet" href="../stylesheets/impact.css"/>
    <script
            src="https://kit.fontawesome.com/866b8b01f2.js"
            crossorigin="anonymous"
    ></script>
    <link
            rel="icon"
            href="https://www.ormiston.school.nz/images/favicon.png?v=20141117"
    />
</head>
<body>
<!-- HEADER -->
<header>
    <!-- NAV BAR-->
    <nav class="EVC__Header-Navbar">
        <a href="/">
            <img
                    src="https://www.ormiston.school.nz/images/logo-inverted.png"
                    alt="Ormiston Senior College Logo"
            />
        </a>

        <ul>
            <li><a href="#">Impact</a></li>
            <li><a href="/newsandnotices">News and Notices</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <!-- SPLASH PAGE -->
    <div class="EVC__Header-SpalashPage">
        <div>
            <h1>Impact</h1>
        </div>
    </div>
</header>

<!-- Main -->
<main></main>

<!-- Footer -->
<footer class="EVC__Footer">
    <div class="EVC__Footer-Col">
        <h3>Main</h3>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
    </div>
    <div class="EVC__Footer-Col">
        <h3>Business</h3>
        <ul>
            <li><a href="#">Impact</a></li>
            <li><a href="/newsandnotices">Upcoming Events</a></li>
        </ul>
    </div>
    <div class="EVC__Footer-Col EVC__Footer-Col-Social">
        <h3>Social</h3>
        <ul>
            <li>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa-solid fa-envelope"></i></a>
            </li>
        </ul>
    </div>
</footer>
</body>
</html>